<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Weather app</title>
</head>
<body>
    <div id="header">
        <div id="icon"></div>
        <div id="weather_main"></div>
    </div>

    <div id="temperature_div"><span id="temperature">18°C</span></div>

    <div id="get_location_div"><div id="location" contenteditable="true">Mumbai</div></div>

    <div id="main">
        <div id="feels_like_div" class="info_div"><p class="info">Feels Like</p><p class="info" id="feels_like"></p></div>
        <hr>
        <div id="pressure_div" class="info_div"><p class="info">Pressure</p><p class="info" id="pressure"></p></div>
        <hr>
        <div id="sunrise_div" class="info_div"><p class="info">Sunrise</p><p class="info" id="sunrise"></p></div>
        <hr>
        <div id="sunset_div" class="info_div"><p class="info">Sunset</p><p class="info" id="sunset"></p></div>
        <hr>
        <div id="wind_speed_div" class="info_div"><p class="info">Wind Speed</p><p class="info" id="wind_speed"></p></div>
        <hr>
        <div id="visibility_div" class="info_div"><p class="info">Visibility</p><p class="info" id="visibility"></p></div>
        <hr>
    </div>
</body>
<script src="script.js"></script>
</html>