<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Weather app</title>
</head>
<body>
    <div id="header">
        <div id="icon"></div>
        <div id="weather_main"></div>
    </div>

    <div id="temperature">18°C</div>

    <div id="location">Delhi</div>

    <div id="main">
        <div id="humidity"></div>
        <hr>
        <div id="feels_like"></div>
        <hr>
        <div id="pressure"></div>
        <hr>
        <div id="sunrise"></div>
        <hr>
        <div id="sunset"></div>
        <hr>
        <div id="wind_speed"></div>
        <hr>
        <div id="visibility"></div>
        <hr>
    </div>
</body>
<script src="script.js"></script>
</html>