<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Weather app</title>
</head>
<body>
    <div id="header">
        <div id="icon"></div>
        <div id="weather_main">Mist</div>
    </div>

    <div id="temperature_div"><span id="temperature">18°C</span></div>

    <div id="location">Delhi</div>

    <div id="main">
        <div id="humidity" class="info_div"><p class="info">Humidity</p><p class="info">55</p></div>
        <hr>
        <div id="feels_like" class="info_div"><p class="info">Feels Like</p><p class="info">18°C</p></div>
        <hr>
        <div id="pressure" class="info_div"><p class="info">Pressure</p><p class="info">1000</p></div>
        <hr>
        <div id="sunrise" class="info_div"><p class="info">Sunrise</p><p class="info">05:28:25</p></div>
        <hr>
        <div id="sunset" class="info_div"><p class="info">Sunset</p><p class="info">05:28:25</p></div>
        <hr>
        <div id="wind_speed" class="info_div"><p class="info">Wind Speed</p><p class="info">3KM/H</p></div>
        <hr>
        <div id="visibility" class="info_div"><p class="info">Visibility</p><p class="info">1900</p></div>
        <hr>
    </div>
</body>
<script src="script.js"></script>
</html>