::-webkit-scrollbar{
    display: none;
}
:root{
    --color1: #1A374D;
    --color2: #406882;
    --color3: #6998AB;
    --color4: #B1D0E0;
    /* --color5: #2a4d68; */
}
html{
    font-size: 25px;
}
@media(max-width:1280px){
    html{
        font-size: 20px;
    }
}
@media(max-width:600px){
    html{
        font-size: 15px;
    }
}
@media(max-width:450px){
    html{
        font-size: 12.5px;
    }
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: var(--color1);
}
#header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 7.5vh;
}
#icon{
    width: 4rem;
    height: 4rem;
    /* background-image: url(mist.png); */
    background-size: cover;
    margin: 0 2.5vw;
}
#weather_main{
    color: var(--color4);
    font-size: 1.5rem;
    margin: 0 2.5vw;
}
#temperature_div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
}
#temperature{
    font-weight: 500;
    font-size: 3rem;
    color:var(--color3);
}
#get_location_div{
    color: var(--color4);
    font-size: 2rem;
    display: flex;
    justify-content: center;
    font-weight: 500;
}
#location{
    min-width: 50px;
    min-height: 25px;
    /* background-color: var(--color5); */
    outline: 1px solid var(--color4);
    padding: 2.5px 5px;
}
hr{
    border: 1px solid var(--color2);
    width: 80vw;
    margin: 0 auto;
}
.info_div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    margin: 2.5vh auto;
}
#main{
    margin-top: 10vh;
}
.info{
    color: var(--color4);
    font-size: 1.25rem;
}